

  <li>
    <%=      song.name     %>
    <%=      song.duration.to_f%>
    <%=       song.release %>
    <%=      song.album%>
    <a href='#' id='delete-button' class='btn btn-default'>Delete</a> 
  </li>
