
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All artists
      </div>

        <% @Artists.each do |artist| %>
        <div class="col-md-3 right">
          <%= link_to artist.name, artist, class: "btn btn-default" %>
          <% end %>
          <% @artist.photos.each do |photo| %>
        <div class="panel panel-default">
          <div class="panel-heading">

            <%= image_tag photo.image.thumbnail %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
