
  <div class="col-md-9">
    <div class="panelpanel-primary">
      <div class="panel-heading">
          All Artists
      </div>
      <div class="col-md-3 right">
      <div class="block">
        <%@artists.each do |artist| %>

          <%= link_to artist.name, artist_path(artist.id), class: "btn1" %>



            <%= image_tag artist.image.thumbnail, class: "image" %>

        <% end %>


<footer>
<%= link_to "Add new artist", new_artist_path(@artist), class: "btn btn-success" %>
  </div>
</div>
</footer>
